<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sell</title>
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    
    <section id="sell" class="container">
        <form action="/savevehicle" method="POST" enctype="multipart/form-data">
            <h2 class="mb-4">Sell Your Vehicle</h2>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="make">Make:</label>
                        <input type="text" class="form-control" id="make" name="make" value="<%= data.make %>"  required>
                    </div>
                    <div class="form-group">
                        <label for="model">Model:</label>
                        <input type="text" class="form-control" id="model" name="model" value="<%= data.model %>"required>
                    </div>
                    <div class="form-group">
                        <label for="trim">Trim:</label>
                        <input type="text" class="form-control" id="trim" name="trim" placeholder="Enter trim" value="X" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Model Year:</label>
                        <input type="number" class="form-control" id="year" name="year" value="<%= data.year %>" required>
                    </div>
                    <div class="form-group">
                        <label for="regyear">Registration Year:</label>
                        <input type="number" class="form-control" id="regyear" name="regyear" placeholder="0000" required>
                    </div>
                    <div class="form-group">
                        <label for="plate">Plate Initials:</label>
                        <input type="text" class="form-control" id="plate" name="plate" placeholder="Enter plate initials" value="CAC" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" value="100000" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="negotiable" name="negotiable" value="yes">
                        <input type="hidden" name="negotiable" value="no">
                        <label class="form-check-label" for="negotiable">Negotiable</label>
                    </div>                    
                    <div class="form-group">
                        <label for="condition">Condition:</label>
                        <input type="text" class="form-control" id="condition" name="condition" value="<%= data.condition %>" required>
                    </div>
                    <div class="form-group">
                        <label for="mileage">Mileage:</label>
                        <input type="text" class="form-control" id="mileage" name="mileage" placeholder="Enter mileage" value="1000" required>
                    </div>
                    <div class="form-group">
                        <label for="exterior">Exterior:</label>
                        <input type="text" class="form-control" id="exterior" name="exterior" placeholder="Enter exterior color" value="white" required>
                    </div>
                    <div class="form-group">
                        <label for="interior">Interior:</label>
                        <input type="text" class="form-control" id="interior" name="interior" placeholder="Enter interior color" value="black" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" value="colombo" required>
            </div>
            <div class="form-group">
                <label for="images">Upload new set of Images:</label><br>
                <input type="file" id="images" name="images" class="form-control-file" multiple>
                <small class="form-text text-muted">You can upload multiple images.</small>
            </div>
            <div id="imagePreview" class="image-preview"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    <script>
        $(document).ready(function(){
        // Load JSON data from sort.txt
        $.getJSON('quiccar\controllers\sort.txt', function(data) {
            // Sort images based on score
            data.sort((a, b) => b.score - a.score);

            // Update imagePreview div with sorted images
            $.each(data, function(i, item){
                $('#imagePreview').append(
                    '<img src="' + +item.filepath + '" class="img-thumbnail">'
                );
            });
        });

        $('#images').on('change', function(e){
            $('#imagePreview').empty();
            var files = e.target.files;
            $.each(files, function(i, file){
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#imagePreview').append(
                        '<img src="' + e.target.result + '" class="img-thumbnail">'
                    );
                }
                reader.readAsDataURL(file);
            });
        });

        new Sortable(document.getElementById('imagePreview'), {
            animation: 150,
            onEnd: function (evt) {
                console.log('Position changed:', evt.oldIndex, 'to', evt.newIndex);
                // You can perform actions when the position changes, like updating the order in the form submission
            }
        });
    });
        </script>