<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %>: Quiccars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('Navbar') %>
    <section>
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">#<%= data.tags %></p>
                            <h4 class="card-title"><%= data.title %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Posted at <%= data.time %> by <%= data.username %> </h6>
                            <p class="card-text"><%= data.content %></p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Comment Section -->
             
            <div class="container mt-4">
                <div class="card-body">
                    
                    <hr>
                    <!-- comment.js -->
                    <form method="post" action="/comment"> 
                        <div class="form-group">
                            <label for="comment">Make a Comment</label>
                            <input type="hidden" name="artid" value="<%= data.id || '' %>">
                            <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Make a comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>
                    <h5 class="card-title">Comments</h5>
                    <ul class="list-group">
                        <% cdata.forEach(cdata => { %>
                        <li class="list-group-item">
                            <p class="comment-time"><a><%= cdata.uname %></a> at <%= cdata.created %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a><%= cdata.comment %></a>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('Footer') %>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
