<!-- browse.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
</head>
<style>
    
</style>
<body>
    <%- include('Navbar') %>
    
    <section class="container">
        <h1 class="mt-5 mb-4">Browse Community</h1>
        <ul class="list-group">
            <a href="/createarticle" class="btn btn-primary mb-3">Create Article</a>
            <% cdata.forEach(cdata => { %>
            <li class="list-group-item">
                <a href="/article?id=<%= cdata.artid %>" class="text-decoration-none">
                    <%= cdata.title %>
                </a>
                <p class="m-0">Posted by: <%= cdata.uname %></p>
                <p class="m-0">at: <%= cdata.created %></p>
            </li>
            <% }); %>
        </ul>
    </section>
</body>
</html>
