<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>: Quiccars</title>
    <link rel="stylesheet" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="products.css">
</head>
<body>
    <%- include('Navbar') %>

    <div class="listing-info">
        <h1><%= title %></h1>
        <p>Posted at <%= time %> by <%= name %></p>
    </div>
    
    
    
    
    <div class="pricing">
        <p>Price: <%= price %></p>
        <p>Negotiable: <%= negotiable %></p>
    </div>
    <div class="vehicle-details">
        <p>Make: <%= make %></p>
        <p>Model: <%= model %></p>
        <p>Trim: <%= trim %></p>
        <p>Year: <%= year %></p>
        <p>Registration Year: <%= regYear %></p>
        <p>Plate: <%= plate %></p>
        <p>Mileage: <%= mileage %></p>
    <p>Condition: <%= condition %></p>
    <p>Exterior: <%= exterior %></p>
    <p>Interior: <%= interior %></p>
    </div>
    <div class="description">
        <p>Description:</p>
    </div>    
    <div class="location">
        <p>Location: <%= location %></p>
    </div>
    <%- include('Footer') %>
</body>
</html>
